* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* write your CSS here */

body {
  font-family: Roboto;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(43, 43, 51);
  background-color: peachpuff;
}

/* CUBE */

.flexbox {
  display: flex;
  flex: 1;
}

.flow > * + * {
  margin-top: 2.25rem;
}

/* U */

.stretchbox {
  align-self: stretch;
}

.borderR {
  border-radius: 100rem;
}

.circle {
  clip-path: circle();
}

.Oback {
  background-color: orange;
}

.WColor {
  color: white;
}

.imagesizing {
  height: 5px;
  width: 100px;
  object-fit: fill;
}

.marginLeft > * + * {
  margin-left: 1.5rem;
}
/* block */

.Card {
  height: 50rem;
  width: 30rem;
  margin: auto;
  box-shadow: 2 2 2 2 black;
  background-color: white;
}

/* E */

.flexbox[data-type="column"] {
  flex-direction: column;
}
