* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* write your CSS here */

body {
  font-family: Roboto;
  font-weight: 900;
  font-size: 1rem;
  line-height: 2rem;
  color: rgb(43, 43, 51);
  background-color: peachpuff;
}

/* CUBE */

.flexbox {
  display: flex;
}

.flow > * + * {
  margin-top: 2.5rem;
}

.internalflow > * + * {
  margin-top: 1rem;
}

.gap {
  gap: 20px;
}

.marginLeft > * + * {
  margin-left: 1.75rem;
}
/* U */

.stretchbox {
  align-self: stretch;
}

.endtoend {
  justify-items: space-evenly;
  align-items: space-between;
}

.borderR {
  border-radius: 100rem;
}

.Oback {
  background-color: #f97316;
}

.WColor {
  color: white;
}

.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 400;
}

.imagesizing {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
}

.center {
  align-self: center;
}

.padding {
  padding: 0rem 1rem;
}

.fitwords {
  width: fit-content;
}
/* block */

.Card {
  height: 45rem;
  width: 28rem;
  margin: auto;
  box-shadow: 20px 20px 40px 0.1px rgba(0, 0, 0, 0.337);
  background-color: white;
  border-radius: 1rem;
}

/* E */

.flexbox[data-type="column"] {
  flex-direction: column;
}
